<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
		<title>Esport All Star</title> 

		<!-- Javascript -->
	    <script type="text/javascript" src="{{__._('homepage','js/jquery.min.js')}}"></script>
	
	    <!-- CSS -->
	    <link type="text/css" rel="stylesheet" href="{{__._('homepage','css/style.css')}}" />
	</head>

	<body>
		<header class="home">
			<a class="logo"><img src="{{__._('homepage','img/logo_full.png')}}" alt="Esport All Star"></a>

			<nav class="menu">
				<a>Videos</a>
				<a>Teams</a>
				<a>Tin Tức</a>
				<a>Liên Hệ</a>
			</nav>

			<div class="search">
				<input type="text" placeholder="Tìm kiếm tướng, người chơi ..." value="" />
			</div>

			<div class="lr">
				<a class="btn register">Đăng kí</a>
				<a class="btn login">Đăng nhập</a>
			</div>

			<div class="social">
				<a class="fb">
					<i class="fa fa-facebook-square"></i>
				</a>
				<a class="tw">
					<i class="fa fa-twitter-square"></i>
				</a>
				<a class="yt">
					<i class="fa fa-youtube-square"></i>
				</a>
				<a class="gg">
					<i class="fa fa-google-plus-square"></i>
				</a>
			</div>
		</header>

		<section>
			<div class="bg_main"></div>

			<div class="container">
				<!-- Block Video Hot -->
				<div class="block video_hot">
					<div class="row search">
						<input type="text" placeholder="Tìm kiếm tướng, người chơi, bất cứ gì bạn nghĩ ..." value="" />
					</div>

					<div class="row">
						<a class="item_l">
							<img class="img" src="{{__._('homepage','img/demo/demo_img1.jpg')}}" />
							<span class="label">Siêu hot</span>
							<span class="type">Highlight</span>
							<span class="tit">Highlight QTV Tháng 9 - 2016</span>
							<span class="des">Cùng xem lại những pha xử lí ấn tượng của QTV trong tháng 9 năm 2016. Cùng xem lại những pha xử lí ấn tượng của QTV trong tháng 9 năm 2016. Cùng xem lại những pha xử lí ấn tượng của QTV trong tháng 9 năm 2016.</span>
						</a>

						<a class="item_s">
							<img class="img" src="{{__._('homepage','img/demo/demo_img2.jpg')}}" />
							<span class="label">Xu hướng</span>
							<span class="tit">Heimerdinger Top</span>
						</a>

						<a class="item_s">
							<img class="img" src="{{__._('homepage','img/demo/demo_img2.jpg')}}" />
							<span class="label">Xu hướng</span>
							<span class="tit">Swan Top</span>
						</a>

						<a class="item_m">
							<img class="img" src="{{__._('homepage','img/demo/demo_img3.jpg')}}" />
							<span class="label">Hot</span>
							<span class="type">Video Star</span>
							<span class="tit">Sofm - Daua Jungle 20' GG</span>
							<span class="des">Cùng xem Sofm thể hiện độ trẻ trâu của mình. Cùng xem Sofm thể hiện độ trẻ trâu của mình. Cùng xem Sofm thể hiện độ trẻ trâu của mình. Cùng xem Sofm thể hiện độ trẻ trâu của mình.</span>
						</a>
					</div>
				</div>

				<!-- Block Video Latest -->
				{% if video_category and video_category|length>0 %}
				{% for item in video_category %}
				<div class="block">
					<div class="title">{{item.title}}</div>

					<div class="row">
						{% if item.video_data and item.video_data|length>0 %}
						{% for videoItem in item.video_data %}
						<a class="item">
							<img class="img" src="{{__.adminlib.video_image(videoItem.image)}}" />
							{% if videoItem.label and videoItem.label|length>0 %}
							<span class="label">{{videoItem.label}}</span>
							{% endif %}
							{% if videoItem.category and videoItem.category|length>0 %}
							<span class="type">{{videoItem.category}}</span>
							{% endif %}
							<span class="tit">{{videoItem.title}}</span>
							<span class="des">{{videoItem.introduction}}</span>
						</a>
						{% endfor %}
						{% endif %}
					</div>

					<a class="btn_viewmore" href="#{{item.code}}_{{item.id}}">Xem tất cả</a>	
				</div>
				{% endfor %}
				{% endif %}
			</div>
		</section>

		<footer>
			<div class="container">
				<div class="social">
					<a class="fb"><i class="fa fa-facebook-square"></i></a>
					<a class="tw"><i class="fa fa-twitter-square"></i></a>
					<a class="yt"><i class="fa fa-youtube-square"></i></a>
					<a class="gg"><i class="fa fa-google-plus-square"></i></a>
				</div>

				<div class="copyright">
					@copyright
				</div>
			</div>
		</footer>

        <span class="gotop"></span>
	</body>
</html>

<script type="text/javascript" charset="utf-8" async defer>
	$(document).ready(function(){
		// Menu Run
		var offset = 59,
			header = $('header');

		$(window).scroll(function() {
			($(this).scrollTop() < offset) ? header.removeClass('run') : header.addClass('run');
		});
	});
</script>